body{
    background-color: rgb(37, 153, 153);
}
p{
    font-family: "consolas",sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: dotted underline rebeccapurple;
    
}
h1{
    font-family: "Press Start 2P","consolas";
}
