
#BoxWithId{
    height: 100px;
    width:100px;
    background: red;
}
 .BoxClass{
    height: 100px;
    width:100px;
    background: green;
    margin: 10px;
    padding: 10px;
    border:2px;
    border-style: solid;
    border-color: blueviolet;
/*float: left;*/   
    position :relative;
 }
 
 #p1{
    background-color: cyan;
 }

 .odd{
    background-color: antiquewhite;
 }
 .even{
    background-color: azure;
 }